
<h3>
  isChecked property
</h3>

<form>

  <ts-checkbox
    [isChecked]="myChecked"
    [theme]="myTheme"
    [isDisabled]="false"
    [isRequired]="true"
    [isIndeterminate]="indeterminate"
    (inputChange)="changed($event)"
    (indeterminateChange)="interChanged($event)"
  >My checkbox!</ts-checkbox>

  <ts-checkbox
    [(ngModel)]="myChecked"
    [theme]="myTheme"
    [isDisabled]="disabled"
    [isRequired]="required"
    [isIndeterminate]="indeterminate"
    (inputChange)="changed($event)"
    (indeterminateChange)="interChanged($event)"
  >My (ngModel) checkbox!</ts-checkbox>

  <button (click)="submit(myForm.value)">Submit</button>
</form>